{% extends "base.html" %}

{% block contenido %}
<br>
    <div class="container">
        <h1>
            Todos los juegos
        </h1>
    </div>
    <br>

    <div class="d-flex justify-content-center">
        <div class="row g-4 row-cols-4 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

            {% for juego in juegos %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" align="center">
                    <div class="card h-100 " style="width: 15rem;">
                        <a href="{% url 'juego' id=juego.id %}" class="btn btn-primary">
                            <img src="{{ juego.imagen.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ juego.nombre }}</h5>
                            <p>
                                <font size="5">Precio: ${{ juego.precio }}</font>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            

        </div>
    </div>
{% endblock %}