{% extends "base.html" %}

{% block contenido %}

<script>
function eliminarJuego(id){

    Swal.fire({
        "title": "Advertencia",
        "text": "¿Estás seguro que deseas eliminar este juego?",
        "icon": "warning",
        "showCancelButton": true,
        "cancelButtonText": "No, cancelar",
        "confirmButtonText": "Si, eliminar"
    }).then(function(result){
        if(result.isConfirmed){
            window.location.href = "d/"+id+"/";
        }
    })
}
</script>


<br>
    <div class="container">
        <h1>
            Juegos registrados:
        </h1>
    </div>
<br>

<div class="d-flex justify-content-center mx-auto" style="max-width: 1000px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Categoria</th>
                <th scope="col">Compañia</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for juego in juegos %}
            <tr>
                <th>{{ juego.id }}</th>
                <td>{{ juego.nombre }}</td>
                <td>{{ juego.precio }}</td>
                <td>{{ juego.stock }}</td>
                <td>{{ juego.Categoria }}</td>
                <td>{{ juego.compania }}</td>
                <td align="center"><a href="{% url 'modificar_juego' idjuego=juego.id %}" class="btn btn-warning">M</a></td>
                <td align="center"><a href="#" onclick="eliminarJuego('{{ juego.id }}')" class="btn btn-danger">E</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>            

    </div>
</div>
{% endblock %}